.cartTotal {
    flex: 0.3;
    background-color: white;
    padding: 20px;
    text-align: left;
  }
  .cartTotal button {
    background: #f0c14b;
    font-size: 16px;
    width: 100%;
    border-radius: 4px;
    border: 2px solid #a88734;
    padding: 4px 8px;
    cursor: pointer;
  }
  .cartTotal button:hover{
    background: #ddb347;
  }
  .cartTotal-price {
    margin-left: 5px;
  }
  .cartTotal button:focus {
    outline: none;
  }